									<li>
										<a href="javascript:;">
										<span class="time">3 mins</span>
										<span class="details">
										<span class="label label-sm label-icon label-danger">
										<i class="fa fa-bolt"></i>
										</span>
										You have created a betslip id: <%= activity.trackable.id %> </span>
										</a>
									</li>